.form {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(78, 76, 76);
  border-radius: 20px;
  position: absolute;
  top: 30%;
  left: 37.5%;
}

.form__field {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 0 10px 5px;
  border-radius: 8px;
  border: 1px solid rgb(133, 131, 131);
}

.form__field::placeholder {
  color: rgb(173, 173, 173);
}

.form__label {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

.form__close-button {
  position: absolute;
  border: none;
  background-color: transparent;
  right: 0;
  top: 5px;
  outline: none;
  cursor: pointer;
}

.form__button {
  border: none;
  background-color: rgb(245, 245, 59);
  padding: 12px 0;
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  border-radius: 50px/50px;
  cursor: pointer;
}

.form__button:hover {
  background-color: rgb(243, 243, 122);
}
