.header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(70, 68, 68);
}

.header__button {
  padding: 10px 40px;
  background-color: rgb(212, 212, 14);
  font-size: 20px;
  line-height: 30px;
  border: none;
  border-radius: 50px/50px;
  outline: none;
}

.header__button:hover {
  background-color: rgb(231, 231, 68);
}
